html {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    body {
        margin: 0px;
        padding: 0px;
        height: 100%;
        width: 100%;
        .ectPopupContent {
            height: 100%;
            width: 100%;
            position: relative;
            .ContainerMain {
                position: relative;
                margin: 0;
                height: 100%;
                width: 100%;
                .onlyPrewiew {
                    border: 1px solid white;
                }
                .componentContainer {
                    padding: 20px;
                    margin-bottom: 10px;
                    text-align: center;
                    align-content: center;
                    label {
                        font-size: 20px;
                    }
                    .ectSliderContainer {
                        width: 100%;
                        div {
                            width: 100%;
                        }
                    }
                }
                .previewBox {
                    position: static;
                    .containerPreview,
                    .livePreviewOnly {
                        position: relative;
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        div {
                            border: 1px solid #bdbdbd;
                            padding: 0px;
                            &.spanDiv {
                                display: inline-block;
                                border: 1px solid #ffffff;
                            }
                            &.verticalView {
                                display: inline-block;
                                border: 1px solid #ffffff;
                                .numbersPreview {
                                    border: 1px solid #ffffff;
                                    text-align: center;
                                    padding: 0px;
                                }
                                .textPreview {
                                    border: 0px solid #ffffff;
                                    text-align: center;
                                    padding: 0px;
                                    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
                                }
                            }
                            &.calendarView {
                                display: inline-block;
                                border: 0px solid #ffffff;
                                position: relative;
                                text-align: center;
                                background: linear-gradient( to bottom, #242222 0%, #020202 50%, #242222 50%, #020202 100%);
                                .calendarNumbers {
                                    margin: 10px;
                                    border: 0px solid #ffffff;
                                    .numbersInCalendar {
                                        border: 0px solid #ffffff;
                                    }
                                }
                                .calendarText {
                                    margin: 10px;
                                    border: 0px solid #ffffff;
                                    .textInCalendar {
                                        border: 0px solid #ffffff;
                                    }
                                }
                            }
                        }
                    }
                    .containerPreview {
                        .floatingPreview {
                            background-color: white;
                        }
                        z-index: 1000;
                    }
                }
                .livePreviewOnly {
                    border: 0px solid white;
                    display: inline-block;
                    font-size: 12px;
                    div {
                        border: 0px solid white;
                    }
                }
                .containerLabels {
                    padding: 20px 0;
                    font-style: italic;
                    text-decoration: underline;
                    font-size: 20px;
                    font-weight: bold;
                    display: grid;
                    align-self: center;
                }
                .hourAndMinutes {
                    margin-left: 10px;
                }
                #ectSCInput {
                    padding: 5px;
                    width: 100%; // display: none;
                }
                .ectInsert {
                    position: absolute;
                    left: -60px;
                    bottom: -10px;
                    height: 40px;
                    div {
                        position: fixed;
                        padding: 10px;
                        background-color: #fff;
                        border: 1px solid #c3c3c3;
                    }
                }
                .btnClosePosition {
                    position: absolute;
                    right: -70px;
                    top: -22px;
                    height: 40px;
                    width: 106px;
                    div {
                        position: fixed;
                        padding: 10px;
                        background-color: #fff;
                        border: 1px solid #c3c3c3;
                        .ectClosePopupButton {
                            font-size: 18px;
                        }
                    }
                }
                .tableStyles {
                    width: 50%;
                    float: left;
                    table {
                        &.configuration {
                            tr {
                                .tableHeaders {
                                    font-size: 21px;
                                    font-weight: bold;
                                    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', Verdana, Geneva, Tahoma, sans-serif;
                                    padding: 20px;
                                }
                                td {
                                    text-align: center;
                                    width: 28%;
                                    div {
                                        align-content: center;
                                    }
                                    &.timezones {
                                        select {
                                            max-width: 104px;
                                        }
                                    }
                                }
                            }
                        }
                        width: 95%;
                        border: 1px solid #ffffff;
                        tr {
                            &:nth-child(2n) {
                                background-color: #f0f0f0;
                            }
                            td {
                                align-content: center;
                                &:nth-child(1) {
                                    width: 44%;
                                }
                            }
                        }
                    }
                }
                .layoutsContainer {
                    width: 50%;
                    margin-left: 0px;
                    margin-top: 40px;
                    justify-content: center;
                    align-items: center;
                    float: left;
                    .layoutsLabel {
                        padding: 20px 0px;
                        margin-bottom: 10px;
                        text-align: center;
                        align-content: center;
                        display: flex;
                        justify-content: center;
                        width: 100px;
                        font-size: 20px;
                        margin: 0;
                    }
                    .layoutsBox {
                        padding: 10px;
                        border: 1px solid #c5c5c5;
                        margin: 0;
                        width: 310px;
                        height: 300px;
                        overflow: scroll;
                        overflow-x: hidden; // background-color: red;
                        &::-webkit-scrollbar-track {
                            -webkit-box-shadow: inset 0 0 3px rgba(46, 46, 46, .3);
                            box-shadow: inset 0 0 3px rgba(46, 46, 46, .3);
                            border-radius: 6px;
                            background-color: #F5F5F5;
                        }
                        &::-webkit-scrollbar {
                            width: 4px;
                            background-color: #F5F5F5;
                        }
                        &::-webkit-scrollbar-thumb {
                            border-radius: 6px;
                            -webkit-box-shadow: inset 0 0 3px rgba(46, 46, 46, .3);
                            box-shadow: inset 0 0 3px rgba(46, 46, 46, .3);
                            background-color: #555;
                        }
                        .smallBox {
                            border: 1px solid #c5c5c5;
                            width: 130px;
                            height: 130px; // border: 1px solid rgb(121, 121, 121);
                            float: left;
                            margin: 10px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-weight: 900;
                            &:hover {
                                cursor: pointer;
                                background: #000;
                                color: #fff;
                            }
                        }
                    }
                }
            }
            .endDateShow {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                width: 100%;
                .endDateShowSmallContainer {
                    width: 300px;
                    height: 300px; // background-color: red;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    align-items: flex-center;
                    -webkit-box-shadow: 0 6px 20px -3px rgba(0, 0, 0, 0.75);
                    -moz-box-shadow: 0 6px 20px -3px rgba(0, 0, 0, 0.75);
                    box-shadow: 0 6px 20px -3px rgba(0, 0, 0, 0.75);
                    background: #f0f0f0;
                    label {
                        align-self: flex-start;
                        padding: 10px;
                        font-size: 20px;
                        font-weight: bold;
                        display: block;
                        text-align: center;
                    }
                    .DayPickerInput {
                        align-self: flex-end;
                        padding: 10px;
                        margin: 10px 0;
                        input {
                            width: 190px;
                            height: 30px;
                            &::-webkit-input-placeholder {
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
        .react-datepicker__time-box {
            ul {
                margin: 0px;
                padding: 0px;
            }
        }
    }
}