.ContainerMain {
  .componentContainer {
    label {
      font-size: 20px;
      margin-right: 20px;
    }
    padding: 20px;
    margin-bottom: 10px;

    input {
      &.shortcode {
        padding:5px;
        width: 60%;
      }
    }
  }
  .shortcode{
    margin: 10px;
    input{
      margin-right: 0px;
      margin-top: 0px;
      width: 1100px;
    }
  }
}
